* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    height: 100%;
    overflow: scroll;
    font-family: ArialMT, Arial;
    font-size: 15px;
}

::-webkit-scrollbar {
    display:none;
}

main {
    padding: 30px;
    animation-duration: 250ms;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#apocalypse {
    column-count: 4;
    column-gap: 20px;
}

@media only screen and (max-device-width: 450px) {
    #apocalypse {
        column-count: 1;
    }
}

@media only screen and (max-width: 880px) {
    #apocalypse {
        column-count: 3;
    }
}

@media only screen and (max-width: 710px) {
    #apocalypse {
        column-count: 2;
    }
}

@media only screen and (max-width: 480px) {
    #apocalypse {
        column-count: 1;
    }
}

/* 3 main modules */
.header {
    position: relative;
    top: 7px;
    height: 87px;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-top: 24px;

    border: 0 solid #f0f0f0;
    border-bottom-width: 1px;
}

.main {
    padding-left: 40px;
    padding-right: 40px;
}

.footer {
    position: relative;
    overflow: hidden;
    bottom: 0;
    height: 60px;
    width: 100%;
    padding-left: 25px;
    padding-top: 15px;

    font-size: 12px;
    background-color: #fff;
}

.text {
    display: inline-block;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
}

.scrollable {
    width: 30px;
    text-align: center;
    border: none;
    background: #efefef;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

input[type=text] {
    font-size: 15px;
    padding-left: 5px;
}

.scrollable::placeholder {
    color: #1b1b1b;
    font-size: 12px;
    padding-top: 1.33px;
    opacity: 1;
    padding-left: -10px;
}

/* sub-modules */
.main_left {
    float: left;
    height: 386px;
    left: 0;
    width: 50%;
    padding-right: 13px;
}

.main_right {
    float: left;
    height: 386px;
    right: 0;
    width: 50%;
    padding-left: 13px;
}

.main_bottom {
    float: left;
    width: 100%;
    margin-top: 18px;
    white-space: nowrap;
}

/* content modules */

/* Header */

#header__logo {
    float: left;
    margin-right: 10px;
    width: 108px;
}

.header > a {
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    font-weight: bold;

    color: #989A9C;
    font-feature-settings: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}

.header > .selected {
    color: #333333;
}

.header > .menu_mobile {
    display: none;
}

/* Main */

.rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

h1 {
    font-size: 18px;
    color: #333;
    margin: 0;
    padding: 0;
}

.red {
    display: inline-block;
    white-space: pre;
    font-weight: bold;
    color: #ff451e;
}

.card {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    width: 100%;
    background: transparent;
    margin-bottom: 20px;
}

.card:hover {
    transform: scale(1.03);
}

.card:hover > .content {
    background: #f8f8f8;
}

.code {
    width: 100%;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    margin-top: 2px;
    color: #0c0c0c;
    font-size: 12px;
}

.card_back {
    position: absolute;
    overflow: hidden;
    top: 0;
    padding: 15px;
    background: #f3f3f3;
    height: 100%;
    width: 100%;
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card_back > :last-child {
    margin-bottom: 15px;
}

[data-pseudo-content]::before {
    content: attr(data-pseudo-content);
}

.code_index {
    position: absolute;
    display: inline-block;
    color: #ababab;
    word-wrap: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content {
    height: 100%;
    width: 100%;
    padding: 15px;
    background: #efefef;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.animated {
    transition: all .9s;
}

.card > .card_icon {
    width: 24px;
}

.card > h2 {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 32px;
    width: 170px;

    font-size: 14px;
    color: #333333;
}

.card > .card_status {
    position: absolute;
    font-size: 12px;
    bottom: 16px;
    color: #858585;
}

/* main_left */

.main_left__card {
    width: 100%;
    height: 331px;
    padding: 5px 20px;
    overflow: scroll;

    background-size: cover;
}

.main_left__card > h1 {
    position: absolute;
    padding-top: 20px;
    padding-left: 5px;
    margin: 0;
    font-size: 24px;
}

.main_left__card-block {
    float: right;
}

.main_left__card-block > .arrow_up {
    height: 16px;
    position: absolute;
    left: 545px;
    top: 475px;
    z-index: 50;
}

.main_left__card-block > .card {
    margin-top: 15px;
    margin-bottom: 15px;
}

.main_left__card > .info {
    position: absolute;
    font-size: 14px;
    padding-left: 5px;
    padding-top: 53px;
    color: #333333;
}

.main_left__card > .temperatures {
    position: absolute;
    float: left;
    width: 200px;
}

.temperatures .temperature {
    position: absolute;
    top: 19px;
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    padding-left: 5px;
}

.temperatures h3 {
    position: absolute;
    color: #858585;
    font-weight: normal;
    margin: 0;
    padding: 0 0 0 5px;
    font-size: 14px;
}

.at_home {
    top: 100px;
    position: absolute;
    display: block;
    width: 30%;
}

.outside {
    top: 100px;
    position: relative;
    left: 101px;
}

.outside > .weather_icon {
    position: absolute;
    width: 26px;
    left: 73px;
    top: 27px;
}

/* main_right */

.main_right > h1 {
    font-size: 16px;
}

.main_right > .arrow_left {
    cursor: pointer;
    position: absolute;
    height: 16px;
    top: 128px;
    right: 70px;

    opacity: 0.3;
}

.main_right > .arrow_right {
    cursor: pointer;
    position: absolute;
    height: 16px;
    top: 128px;
    right: 40px;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0.3;
}

.main_right > .arrow_selected {
    opacity: 1;
}

.scenarios {
    padding-top: 3.1px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15.2px;
}

.scenarios > .card {
    height: 100px;
}

.scenarios .card > h2 {
    bottom: 16px;
}

.scenarios .card > h2.card__with_status {
    bottom: 32px;
}

/* main_bottom */
.main_bottom .main_bottom__menu > h1 {
    display: inline-block;
}

.devices {
    margin-left: -40px;
    margin-right: -40px;
    overflow: hidden;
    height: 140px;
    padding-left: 25px;
    padding-right: 40px;
    padding-top: 4px;
}

.devices > .card {
    position: relative;
    display: inline-block;
    white-space: normal;
    margin-left: 15px;
}

.main_bottom__menu {
    white-space: nowrap;
}

.main_bottom__menu > .select {
    display: inline-block;
    height: 30px;
    padding-left: 15px;
    padding-right: 14px;
    padding-top: 8px;
    margin-left: 9px;
    background: #f2f1f0;

    font-weight: bold;
    font-size: 13px;
    color: #000;
}

.main_bottom__menu > .selected {
    background: #ffd93e;
}

.main_bottom__menu > .arrow_left {
    cursor: pointer;
    position: absolute;
    height: 16px;
    top: 538px;
    right: 70px;
    opacity: 0.3;
}

.main_bottom__menu > .arrow_right {
    cursor: pointer;
    position: absolute;
    height: 16px;
    top: 538px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 40px;
    opacity: 0.3;
}

.main_bottom__menu > .arrow_selected {
    opacity: 1;
}

.arrow_down {
    display: none;
}

/* Footer */

.footer > a {
    display: inline-block;
    margin-left: 15px;
    float: left;
    text-decoration: none;
    color: #858585;
}

.footer > a:hover {
    color: #333333;
}

.footer > .copyright {
    display: inline-block;
    margin-right: 40px;
    float: right;
    color: #858585;
    white-space: pre;
}

/* Popup and cover */

#popup {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 2;

    animation-duration: 250ms;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#cover {
    display: none;
    position: absolute;
    z-index: 100;
    padding: 25px;

    background: #fff;
}

.cover_content {
    position: relative;
    display: none;
    animation-duration: 250ms;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.cover_content > h1 {
    display: inline-block;
    margin: 0;
    padding: 0;

    font-weight: bold;
    font-size: 25px;
    color: #333333;
}

#cover_content__temperature {
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 40px;

    font-weight: bold;
    font-size: 34px;
    color: #333333;
}

.cover_content__icon {
    height: 40px;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
}

.cover_content__status {
    padding-top: 4px;
    font-family: ArialMT, Arial;
    font-size: 13px;
    color: #333333;
}

.cover_content__select {
    display: inline-block;
    height: 30px;
    padding-left: 15px;
    padding-right: 14px;
    padding-top: 6px;
    margin-top: 35px;
    background: #f2f1f0;

    font-weight: bold;
    font-size: 13px;
    color: #000;
}

.cover_content > .selected {
    background: #ffd93e;
}

#slider_lamp {
    background-image: linear-gradient(90deg, #FFE682 2%, #FF9E00 98%);
}

#slider_temperature {
    background: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
}

.cover_content__slider[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;

    position: relative;
    display: block;
    margin-top: 20px;
    margin-left: 0;

    height: 60px;
    width: 100%;
    border-radius: 30px;
}

.cover_content__slider[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 28px, rgba(51,51,51,0.10) 0px);
    border: 4px solid white;
    cursor: pointer;
}

.cover_content__slider[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 28px, rgba(51,51,51,0.10) 0px);
    border: 4px solid white;
    cursor: pointer;
}
.cover_content__slider[type=range]::-moz-range-track {
    height: 0;
}

.cover_content > .range_left {
    position: absolute;
    left: 21px;
    top: 153px;
    z-index: 250;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.range_left > img {
    width: 38px;
    margin-top: -8px;
    margin-left: -5px;
}

.cover_content > .range_right {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    left: 535px;
    top: 153px;
    z-index: 250;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.range_right > img {
    width: 36px;
    margin-top: -7px;
    margin-left: -7.8px;
}

.cover_content__crootilka-pivot {
    position: relative;
    height: 210px;
    left: 0;
    right: 0;
    width: 210px;
    margin: 35px auto 0;
    padding-top: 6px;
}

/* originally volume knob(dial) */
.cover_content__crootilka {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
    -webkit-transform: rotate(-240deg);
    -moz-transform: rotate(-240deg);
    -ms-transform: rotate(-240deg);
    -o-transform: rotate(-240deg);
    transform: rotate(-240deg);
}

.cover_content__crootilka-layer1 {
    position: absolute;
    z-index: 101;
    background: #333333;
    opacity: 0.7;
}

.cover_content__crootilka-layer1-active {
    background: #F5A623;
}

.cover_content__crootilka-layer1:hover {
    background: #F5A623;
}

.cover_content__crootilka-layer2 {
    position: absolute;
    z-index: 102;
    height: 178px;
    width: 178px;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 4px 0 rgba(134,121,71,0.45);
    -moz-box-shadow: 0 2px 4px 0 rgba(134,121,71,0.45);
    box-shadow: 0 2px 4px 0 rgba(134,121,71,0.45);

    -webkit-transform: rotate(240deg);
    -moz-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    -o-transform: rotate(240deg);
    transform: rotate(240deg);

    background: #FEFEFE;
}

.cover_content__crootilka-layer3 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    -webkit-transform: rotate(240deg);
    -moz-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    -o-transform: rotate(240deg);
    transform: rotate(240deg);
    font-size: 66px;
    font-weight: bold;
    padding: 0;
    padding-bottom: 34px;
    padding-right: 80px;
    z-index: 1000;
}

#cover_content__crootilka-arrow {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 100px;
    left: 100px;
    z-index: 1000;

    -webkit-transform: rotate(240deg);
    -moz-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    -o-transform: rotate(240deg);
    transform: rotate(240deg);
}


.popup_button {
    display: none;
    position: absolute;
    cursor: pointer;
    user-select: none;
    width: 630px;
    height: 50px;
    border-radius: 20px;
    z-index: 100;

    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding-top: 16px;
}

#accept {
    color: #000;
    background: #ffd93e;
}

#accept:hover {
    background: #ffcd00;
}

#cancel {
    background: #fff;
}


/* animations */

@keyframes blur_in {
    0%   {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
}

@keyframes blur_out {
    0%   {
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

/* blur for color element */
@keyframes cblur_in {
    0%   {
        background: rgba(0,0,0,0);
    }
    100% {
        background: rgba(51,51,51,0.50);
    }
}

/* de-blur for color element */
@keyframes cblur_out {
    0%   {
        background: rgba(51,51,51,0.50);
    }
    100% {
        background: rgba(0,0,0,0);
    }
}